<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Internet Shop</title>

<!--/*/ <th:block th:include="links :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="admin_header :: header"></th:block> /*/-->
		<div class="view">
			<h2 th:text="${goods.name}">Name</h2>
			<hr />
			<div>
				<form class="form-horizontal">
					<div class="form-group">
						<h4 class="col-sm-2">
							<span class="label label-info">Description:</span>
						</h4>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${goods.description}">Description</p>
						</div>
					</div>
					<hr />
					<div class="form-group">
						<h4 class="col-sm-2">
							<span class="label label-info">Price:</span>
						</h4>
						<div class="col-sm-10">
							<p class="form-control-static" th:text="${goods.price}">Price</p>
						</div>
					</div>
					<hr />
					<a th:href="${'/admin-order-' + goods.id}" class="btn btn-success">Order</a>
				</form>
			</div>
		</div>
		<!--/*/ <th:block th:include="footer :: footer"></th:block> /*/-->
	</div>
</body>
</html>