<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Internet Shop</title>

<!--/*/ <th:block th:include="links :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="admin_header :: header"></th:block> /*/-->

		<div th:if="${not #lists.isEmpty(goods)}">
			<h2>List goods</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
				</tr>
				<tr th:each="goods : ${goods}">
					<td th:text="${goods.id}">Id</td>
					<td th:text="${goods.name}">Name</td>
					<td th:text="${goods.description}">Description</td>
					<td th:text="${goods.price}">Price</td>
					<td><a th:href="${'/admin/goods/edit/' + goods.id}">Edit</a></td>
					<td><a th:href="${'/admin/goods/delete/' + goods.id}">Delete</a></td>
				</tr>
			</table>

		</div>
	</div>

</body>
</html>