<!DOCTYPE html>
<html>
<head lang="en">

<title>Internet Shop</title>

<!--/*/ <th:block th:include="links :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="header :: header"></th:block> /*/-->
		<div class="jumbotron">
			<div>
				<div class="row text-center">
					<h2 class="index">Internet Shop</h2>
				</div>
				<div class="row text-righty">
					<h3 class="index">On this site you can order different goods
						online. Also you can view description and price to goods. For
						order goods you must specify your surname, phone number and place of
						residence.</h3>
				</div>
			</div>
		</div>
		<!--/*/ <th:block th:include="footer :: footer"></th:block> /*/-->
	</div>
</body>
</html>